<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd"
>
    <event name="sales_order_place_before">
        <observer name="register_transaction_id" instance="Increazy\CheckoutV2\Observer\Transaction" />
    </event>

    <event name="sales_model_service_quote_submit_before">
        <observer name="disabled_iemail" instance="Increazy\CheckoutV2\Observer\DisableEmail" />
        <observer name="increazy_checkoutv2_sales_model_service_quote_submit_before" instance="Increazy\CheckoutV2\Observer\SaveOrderBeforeSalesModelQuoteObserver" />
    </event>

    
</config>
